<!DOCTYPE HTML>

<html>
<head>
<title>{{blogtitle}}</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
<div class="header"><p>{{blogtitle}}</p></div>
<div class="description"><p>{{blogdescription}}</p></div><hr />
{% for post in posts %}
	{% if post.body %}
 		{% include 'post.html' %}
	{% endif %}
	<br />
{% endfor %}
<p style="text-align:center;">
<a href="http://onloop.net/" onclick="window.open(this.href);return false;">Blog</a> | <a href="http://github.com/pranavrc/strand/" onclick="window.open(this.href);return false;">Strand</a> | <a href="mailto:me@onloop.net">Mail</a>
</p>
</body>
</html>

