<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Uploads.</title>
		<link href="{{url_for('static', filename='index.css')}}" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div class="content">
			<p>
			{% if uploadList %}
			{% for eachUpload in uploadList %}
			<a href="uploads/{{ eachUpload }}">{{ eachUpload }}</a> | <a href="remove/{{ eachUpload }}" onclick="return confirm('Sure?');">Delete</a><br />
			{% endfor %}
			{% else %}
			No uploads so far.
			{% endif %}
			</p>
		</div><br />
		<div class="uploadDiv">
			<form action="/uploads" method=post enctype=multipart/form-data>
			<p>
				<input type=file name=file>
				<input type=submit value=Upload>
			</p>
			</form>
		</div>
		
	</body>
</html>
