<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Uploads.</title>
		<link href="{{url_for('static', filename='index.css')}}" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div class="content">
			<p>
			{% if uploadList %}
				{% for eachUpload in uploadList %}
					<a href="uploads/{{ eachUpload }}">{{ eachUpload }}</a>
				{% endfor %}
			{% else %}
				No uploads so far.
			{% endif %}
			</p>
		</div>
	</body>
</html>
